body {
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    padding: 0;
    height: 200vh;
    background-color: rgb(223, 220, 229);
}

a {
    text-decoration: none;
}

.links a {
    height: 50px;
    background-color: inherit ;
    border: 3px solid grey;
    border-radius: 5px;
    margin: 4px;
    font-weight: 600;
    color: black;
    padding: 8px;
}

.link a :nth-child(1) {
    margin-left: auto;
}

.navbar {
    position: fixed;
    width: 100%;
    height: 150px;
    background-color: rgb(151, 179, 218);
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar h1 {
    font-weight: 900;
    font-size: 45px;
    float: center;
}

.logo {
    justify-self: flex-start;
}
.logo img {
    border: 3px solid grey;
    margin: 4px;
    border-radius: 6px;
    height: 130px;
}

aside {
    position: fixed;
    right: 0;
    z-index: 0;
    background-color: #ccc5dc;
    width: 13vw;
    height: 100%;
    top: 150px;      
}

.asideleft {
    position: fixed;
    left: 0;
    z-index: 0;
    background-color: #ccc5dc;
    width: 13vw;
    height: 100%;
    top: 150px;     
}

.asideleft img {
    width: 100px;
}

.sidelinks a {
    border: 3px solid grey;
    border-radius: 5px;
    margin-left: 25%;
    font-weight: 600;
    color: black;
    padding: 8px;
}

.sidelinks img {
    margin-left: 25%;
    width: 95px;
} 

.asideText {
    margin-top: -30px;
    padding: 15px;  
    text-align: justify;
    font-size: large;
}

.float {
    float: left;
}

.postProfile {
    float: left;
    margin: 20px auto auto 40px;
}

.profilePicture {
    width: 80px;
}

.content {
    background-color: rgb(223, 220, 229);
    padding-top: 150px;
    padding-left: 100px;
    padding-bottom: 100px;
    z-index: -2;   
}

.postPicture {
    width: 400px;
    overflow: visible;
    left: 0;
    margin: 10px 45px 0 40px;
    position: relative;
    top: 0;
    transform: none;
}

.post {
    margin-top: 5px;
    margin-bottom: 20px;
    bottom: 25px;
    left: 50%;
    padding: 5px;
    
}

.postText {
    margin-top: -20px;
    margin-left: 40px;
    float: right;
}

.post > .postContent /*=blogcard*/ {
    background-color: #f8f8ff;
    border-radius: 3px;
    box-shadow: 0 0 2px -1px rgba(0, 0, 0, 0.75);
    margin: 0 auto;
    overflow: hidden;
    padding: 10px;
    box-sizing: content-box;
    max-width: 900px;
}

footer {
    position:fixed;
    height: 50px;;
    bottom: 0;
    width: 100%;
    background-color: rgb(151, 179, 208);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

footer .copyright {
    justify-self: flex-end;
    margin-left: auto;
    margin-right: 5px;
}

.fa {
    margin: 5px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #24407e;
    color: white;
    width: 15px;
}

.fa-twitter {
    background: #2c81c2;
    color: white;
    width: 15px;
}

.fa-google {
    background: #c72d19;
    color: white;
    width: 15px;
}

form {
    margin-left: 30px;
    padding-top: 160px;

}

.formEdit {
    padding-top: 20px;
}

form .field, form input {
    border: grey solid 3px;
    border-radius: 3px;
}

 form h1 {
     color: black;
 }

form {
    background-color: #f8f8ff;
    padding-bottom: 20px;
    margin-right: 200px;;
}

 .containerSignin {
    margin-top: 25px;
    margin-left: 218px;
    
 }

 .headerEdit h1 {
     margin-left: 20px;
 }

 .button {
    background-color: rgb(151, 179, 208);
    border: 3px solid grey;
    border-radius: 5px;
    margin: 10px 1px;
    font-weight: 600;
    color: black;
    padding: 8px;
 }

 input[type="file"] {
     display: none;
 }

 .keyboard {
     height: 80px;
 }

 .inputfields {
     text-align: right;
     margin-right: 82%;
     width: 400px;
     color: black;

 }
 
 .registration h1 {
     margin-left: 20px;
 }

 .container {
    background-color: rgb(223, 220, 229);
    padding-top: 150px;
    padding-left: 100px;
    padding-bottom: 100px;
    z-index: -2;
 }

 .container .profilePicture {
     width: 200px;
 }

 .containergrid {
     margin-top: 10px;
     display: grid;
     grid-template: repeat(6, 1fr) / repeat(2, 150px);
 }