
 body {
    background-color:#FCF6F5FF;
    font-family: 'Muli-light', arial;
    color: #6c6f81;
    
  }
.ingredients {
    line-height: 1.8;   
}
.preparation {
    line-height: 1.6;
}
 table {
    border: 2px solid #c1b6b6;
    box-shadow: 2px 2px #ddd;
    border-spacing: 10px;
    border-radius: 3px;
    width: 20%;
}

thead {
    text-align: left;
    font-size: x-large;
}

h1 {
    background-color: #fbcdbe;
    text-align: center;
}
h2 {
    background-color: #dbbde5;
}

h1, h2 {
    display:inline-block; 
    border: 1px solid #ddd;
    box-shadow: 3px 3px #ddd;
    border-radius: 5px;
    padding: 0.3em 0.5em;
}

