footer {
    height: 35px;
    width: 100%;
    bottom: 0;
    background-color: $primaryColor;
    color: $headerColor;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: $primaryFont;
    padding: 20px;
    margin-top: auto;
    position: absolute;
    bottom: 0%;
    transition: 0.2s;
    a {
        &:hover {
            color: $hoverTextColor;
        }
    }

  

}